# React Native
node_modules/
package-lock.json
yarn-error.log
yarn.lock
babel-debug.log

# Build artifacts
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/**/*.xcuserdata/
android/.gradle/
android/app/build/
android/app/src/main/assets/splash/
android/app/src/main/res/drawable-*

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test files
coverage/